/** @format */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap");
:root {
	--fondo-html: hsl(0, 0%, 100%);
	--fondo-tajetas: hsl(211, 68%, 94%);
	--color-texto: hsl(219, 14%, 63%);
	--Light-grayish_blue-1: hsl(211, 68%, 94%);
	/* - Light grayish blue 2: hsl(205, 33%, 90%)
- Grayish blue: hsl(219, 14%, 63%)
- Dark grayish blue: hsl(219, 12%, 42%)
- Very dark blue: hsl(224, 21%, 14%)*/
}
* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
html {
	font-size: 16px;
	font-weight: 800;
	font-family: "Plus Jakarta Sans", sans-serif;
}
.color {
	display: grid;
	grid-template-columns: repeat(2, 60px);
	grid: 0px;
}

.color {
	display: flex;
	flex-direction: row;
}
.color1 {
	width: 50px;
	height: 50px;
	background-color: hsl(210, 60%, 98%);
}
.color2 {
	width: 50px;
	height: 50px;
	background-color: hsl(211, 68%, 94%);
}
.color3 {
	width: 50px;
	height: 50px;
	background-color: hsl(205, 33%, 90%);
}
.color4 {
	width: 50px;
	height: 50px;
	background-color: hsl(219, 14%, 63%);
}
.color5 {
	width: 50px;
	height: 50px;
	background-color: hsl(224, 21%, 14%);
}
.main {
	margin: 30px auto;
}
/* CONTENEDOR GENERAL */
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 375px;
	min-height: 700px;
	margin: 60px auto;
	background-color: white;
	border-radius: 20px;
}
/* nav Bar */
nav {
	width: 345px;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	font-weight: 800;
	margin: 20px 0;
}
/* INCLUYE NOTIFICACION Y EL  NUMERO */
.notification_count {
	width: 170px;
	height: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: hsl(224, 21%, 14%);
	font-size: 20px;
	overflow: hidden;
}
.notification_count_number {
	width: 30px;
	display: flex;
	height: 30px;
	background-color: hsl(219, 85%, 26%);
	border-radius: 15px;
	color: hsl(210, 60%, 98%);
	margin-left: 12px;
	justify-content: center;
	align-items: center;
	font-size: 12px;
}
.notification_read {
	color: var(--color-texto);
	font-weight: 500;
	font-size: 12px;
}
.notification_read:hover {
	cursor: pointer;
	color: hsl(219, 85%, 26%);
}
/* SECCION MENSAJES  */
.notification_mesagges p {
	color: var(--color-texto);
	font-weight: 500;
	font-size: 13px;
}
/* TARJETA DE MENSAJE  */
.mesagge {
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-auto-flow: column;
	padding: 1.5rem;
	width: 340px;
	border-radius: 10px;
	margin-bottom: 10px;
}

.msg_img {
	width: 42px;
	height: 42px;
	grid-row-start: span 3;
}
.text_bold {
	font-weight: bold;
	color: black;
	cursor: pointer;
}
.punto {
	width: 20px;
	height: 20px;
	color: red;
}
.read {
	background-color: var(--fondo-tajetas);
}
.punto {
	width: 15px;
	height: 15px;
	margin: 0px;
}
.mesagge_comentari {
	border: 2px solid hsl(205, 33%, 90%);
}
.risky_text {
	border: 1px solid gray;
	margin-top: 10px;
	padding: 15px;
	border-radius: 5px;
}
a {
	text-decoration: none;
	transition: 0.5s;
}
@media (min-width: 700px) {
	html {
		background-color: aquamarine;
	}
	.main {
		border: 1px solid red;
		width: 1300px;
		height: 900px;
		background-color: hsl(210, 60%, 98%);
	}
	.container {
		width: 650px;
		background-color: rgb(248, 246, 244);
	}
	nav {
		width: 500px;
	}

	.mesagge {
		width: 500px;
	}
}
